.dog-card {
  height: calc(100% - 32px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .dog-picture {
    width: 100%;
    @include border-radius(10px);
    box-shadow: 0 8px 15px $border-color;
    margin-bottom: 16px;
    overflow: hidden;
    max-height: 300px;
    object-fit: cover;
  }
  h2 {
    color: $primary-color;
    font-size: 18px;
    line-height: 30px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    font-weight: 300;
    &.dog-info-row {
      color: $light-text-color;
      font-weight: 400;
      display: flex;
      justify-content: space-between;
    }
  }
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 24px;
    }
    .icon {
      @include border-radius(50px);
      &:hover {
        cursor: pointer;
        box-shadow: 0 4px 10px $border-color;
      }
    }
  }
}
