.dog-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  .dog-picture {
    width: 100%;
    @include border-radius(10px);
    box-shadow: 0 8px 15px $border-color;
    margin-bottom: 16px;
  }
  h2 {
    color: $primary-color;
    font-size: 18px;
    line-height: 30px;
  }
  p {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    font-weight: 300;
  }
  .contact {
    .contact-text {
      display: none;
    }
    .icon.button-icon {
      margin: 0;
    }
  }
  span {
    &.gender-age,
    &.dog-breed,
    &.location {
      display: block;
    }
    &.gender-age {
      color: $light-text-color;
      margin: 4px 0 12px;
      font-weight: 400;
    }
    &.dog-breed {
      font-weight: 300;
      margin-bottom: 12px;
    }
    &.location {
      font-weight: 300;
      margin-bottom: 16px;
    }
    &.footer-icons {
      display: flex;
      justify-content: flex-end;
      .icon {
        margin-left: 24px;
      }
    }
  }
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 24px;
    }
  }
}
