.banner-section {
  padding: 16px;
  display: grid;
  align-items: center;
  grid-gap: 32px;
  grid-template-rows: repeat(2, auto);
  max-width: 1440px;
  margin: auto;
  .banner-section-content {
    margin-bottom: 0 0 32px 0;
    h2 {
      font-weight: 900;
      font-size: 40px;
      line-height: 56px;
      margin: 0;
      span {
        font-style: italic;
      }
    }
  }
  img {
    justify-self: center;
    width: 100%;
    max-width: 500px;
  }
  @media only screen and (min-width: 768px) {
    grid-template-columns: repeat(2, auto);
    .banner-section-content {
      animation-duration: 1s;
      h2 {
        margin-right: 48px;
      }
    }
    img {
      justify-self: end;
    }
  }
}
