button {
  text-transform: uppercase;
  padding: 0 16px;
  height: 44px;
  font-size: 14px;
  border: none;
  @include border-radius;
  @include transition;
  position: relative;
  cursor: pointer;
  &:hover {
    box-shadow: 0 8px 15px $border-color;
  }
  &.plain {
    color: $light-text-color;
    background: $white-color;
    border: 1px solid $border-color;
    &:hover {
      color: $primary-text-color;
    }
  }
  &.primary {
    background: $gradient-color-h;
    color: $white-color;
  }
  span.icon {
    margin-left: 8px;
  }
  .tag {
    margin-right: 8px;
    padding: 4px 8px;
    background: $gradient-color-h;
    background: $secondary-color;
    color: $white-color;
    @include border-radius;
  }
}
