$primary-text-color: #2d3142;
$light-text-color: #8c92b4;
$medium-gray-color: #c1c5d6;
$light-gray-color: #f3f7fb;
$white-color: #fff;

$primary-color: #824173;
$secondary-color: #a04677;
$gradient-color-h: linear-gradient(
  -135deg,
  rgba(160, 70, 120, 1) 0%,
  rgba(130, 65, 115, 1) 100%
);

$border-color: rgb(228, 237, 245);
