// Iterate
@mixin iterate(
  $iterateNum: 100,
  $step: 0.05,
  $className: 'delay',
  $property: animation-delay,
  $childElement: ''
) {
  @for $i from 0 through $iterateNum {
    $num: $i * $step;
    .#{$className}-#{$i} #{$childElement} {
      @include prefix(#{$property}, #{$num}s !important);
    }
  }
}

// Prefixes
@mixin prefix($property, $value, $prefixes: ('moz', 'ms', 'o', 'webkit')) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }

  // Output standard non-prefixed declaration
  #{$property}: $value;
}

@mixin box-shadow(
  $left: 0px,
  $top: 2px,
  $radius: 2px,
  $inset: 0,
  $color: #888
) {
  @include prefix(box-shadow, $left $top $radius $inset $color);
}

@mixin border-radius($radius: 4px) {
  @include prefix(border-radius, $radius);
}

@mixin transition($duration: 0.25s, $property: all, $transition: ease-in-out) {
  @include prefix(transition, $property $duration $transition);
}

@mixin animation($name, $timing: 0.5s, $transition: ease-in-out) {
  @include prefix(animation, $name $timing $transition);
}

// Keyframes
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @-ms-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}
