.dogs-page {
  .button-container {
    button {
      box-shadow: 0 3px 6px rgba(160, 70, 119, 0.2);
      &:last-child {
        margin-left: 16px;
      }
      .chevron {
        margin-left: 8px;
      }
    }
  }
}
