.dog-profile {
  .profile-container {
    margin-bottom: 64px;
    @media only screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
  .about-dog {
    .info-label {
      margin-bottom: 8px;
      display: block;
    }
  }
  .registered-radios,
  .papered-radios,
  .gender-radios {
    margin-bottom: 0;
  }
  .birthdate-datepicker {
    margin-top: 20px;
  }
  .upload-photos {
    margin-bottom: 60px;
  }
  .form-button-container {
    position: absolute;
    left: 171px;
    top: -96px;
  }
}
