.dogs-page {
  .new-dog-link {
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
  .button-container {
    button {
      &:last-child {
        margin-left: 16px;
      }
      .chevron {
        margin-left: 8px;
      }
    }
  }
}
