.dog-profile {
  .profile-container {
    @media only screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }
  .about-dog {
    .info-label {
      margin-bottom: 8px;
      display: block;
    }
  }
  .birthdate-datepicker {
    margin-top: 20px;
  }
  fieldset.papered-radios {
    margin-right: 16px;
  }
  .form-button-container.gallery-image-buttons {
    margin-bottom: 64px;
    @media only screen and (min-width: 768px) {
      position: absolute;
      bottom: -78px;
      right: 20px;
      margin-top: 0;
      height: 0;
    }
  }
}
