.new-dog {
  .new-dog-container {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: 40% 1fr;
      grid-gap: 20px;
    }
  }
  .right-section {
    overflow: hidden;
    padding-bottom: 16px;
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    .right-buttons {
      display: flex;
      button {
        margin-left: 8px;
      }
    }
    .no-bg {
      padding: 0;
    }
  }
  .gallery-image-buttons {
    display: none;
  }
  .form-input {
    margin-top: 0;
  }
  .birthdate-datepicker {
    margin-top: 20px;
  }
  fieldset.papered-radios {
    margin-right: 16px;
  }
}
