.new-dog {
  .new-dog-container {
    display: flex;
    flex-direction: column-reverse;
    @media only screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-gap: 64px;
    }
    // .left-section {
    //   overflow: auto;
    // }
  }
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    .right-buttons {
      display: flex;
      button {
        margin-left: 8px;
      }
    }
  }
  textarea {
    height: 80px !important;
  }
  .form-input {
    margin-top: 0;
  }
  .dog-grid {
    display: grid;
    grid-template-rows: 200px;
    grid-gap: 16px;
    @media only screen and (min-width: 500px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (min-width: 997px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (min-width: 1026px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (min-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
    .dog-image {
      overflow: hidden;
      height: 200px;
      object-fit: cover;
      @include border-radius;
      width: 100%;
    }
  }
}
