.gallery {
  @media only screen and (max-width: 767px) {
    display: grid;
    grid-gap: 16px;
  }
  .page-padding {
    padding-top: 0;
  }
  .gallery-image {
    width: 100%;
    @include border-radius(10px);
    @include transition;
    &.hovered {
      opacity: 0.5;
    }
  }
  .star-badge {
    position: absolute;
    left: 16px;
    bottom: 16px;
    width: 7%;
    svg {
      width: 100%;
      height: auto;
    }
  }
  .overlay {
    .overlay-content {
      grid-template-columns: repeat(2, 1fr);
      .star {
        justify-self: end;
      }
    }
  }
}
