.datepicker {
  button {
    min-width: inherit;
    &.DayPickerNavigation_button {
      border: 0;
      padding: 0 13px;
      height: inherit;
      top: 23px;
      background: $white-color;
      svg path {
        fill: $primary-color;
      }
    }
    &.SingleDatePickerInput_calendarIcon.SingleDatePickerInput_calendarIcon_1 {
      right: 9px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: 0;
    }
  }
  .SingleDatePickerInput.SingleDatePickerInput_1.SingleDatePickerInput__withBorder.SingleDatePickerInput__withBorder_2 {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    @include border-radius(0);
  }
  .SingleDatePickerInput {
    @include transition;
    border: 1px solid $light-text-color;
    @include border-radius;
    input {
      font-family: 'Poppins', sans-serif !important;
      font-weight: 400;
      color: $primary-text-color;
      padding: 0;
      height: 48px;
      font-size: 14px;
      width: calc(100% - 35px);
      cursor: pointer;
      border-top: 0;
      border-left: 0;
    }
  }
  .SingleDatePickerInput,
  .SingleDatePicker {
    display: block;
    input {
      width: 100%;
      cursor: pointer;
    }
    .DateInput {
      width: 100%;
    }
  }
  td.CalendarDay {
    padding-top: 12px;
  }
  .CalendarMonth_caption {
    strong {
      font-weight: 600;
    }
  }
  .DateInput_fang {
    top: 58px !important;
    .DateInput_fangStroke {
      stroke-width: 2px;
    }
  }
  .SingleDatePicker_picker {
    top: 68px !important;
    border: 0;
    @include border-radius;
    @include box-shadow(0, 3px, 6px);
  }
  .DateInput_input__focused {
    border-color: $primary-color;
  }
  .DateInput,
  .DateInput_input {
    background: none;
  }
  .CalendarDay__selected,
  .CalendarDay__selected:active,
  .CalendarDay__selected:hover,
  .CalendarDay__hovered_span:hover {
    background: rgba($primary-color, 0.1);
    border: 0;
    position: relative;
    z-index: 100;
    color: $white-color;
    @include border-radius(0 100px 100px 0);
    &::before {
      content: '';
      @include border-radius(100px);
      background: $primary-color;
      z-index: -1;
      height: 38px;
      width: 39px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .CalendarDay__selected_start {
    @include border-radius(100px 0 0 100px);
    &:hover {
      @include border-radius(100px 0 0 100px);
    }
  }
  .CalendarDay__default:not(.CalendarDay__selected):not(.CalendarDay__hovered_span):not(.CalendarDay__blocked_out_of_range):not(.CalendarDay__selected_span):hover {
    background: rgba($primary-color, 0.1);
    @include border-radius(100px);
  }
  .CalendarDay__default,
  .CalendarDay__blocked_out_of_range,
  .CalendarDay__blocked_out_of_range:active,
  .CalendarDay__blocked_out_of_range:hover {
    border: 0;
    &:hover {
      border: 0;
    }
  }
  .CalendarDay__selected_span,
  .CalendarDay__hovered_span {
    background: rgba($primary-color, 0.1);
    color: $primary-text-color;
  }
  .blur {
    .DateRangePickerInput,
    .SingleDatePickerInput {
      border-color: $medium-gray-color;
      height: 50px;
    }
    .SingleDatePickerInput {
      .DateInput_input__focused {
        border: 0;
      }
    }
    input {
      color: $primary-text-color;
    }
    button {
      &.SingleDatePickerInput_calendarIcon.SingleDatePickerInput_calendarIcon_1 {
        svg path {
          fill: $primary-text-color;
        }
      }
    }
  }
  .focus {
    .SingleDatePickerInput {
      border-color: $primary-color;
    }
    input {
      color: $primary-color;
    }
    button {
      &.SingleDatePickerInput_calendarIcon.SingleDatePickerInput_calendarIcon_1 {
        svg path {
          fill: $primary-color;
        }
      }
    }
  }
  .SingleDatePicker_picker {
    .CalendarDay__selected,
    .CalendarDay__selected:active,
    .CalendarDay__selected:hover {
      background: none;
    }
  }
  .CalendarDay__selected {
    color: $white-color;
  }
  .CalendarDay__selected_start.CalendarDay__selected_end {
    @include border-radius(100px);
  }
}
