@import './range';
.filter-container {
  padding: 32px;
  .filter-input {
    margin-top: 0;
  }
  .input-range {
    margin-bottom: 50px;
    .input-range__slider {
      background: $white-color;
      border: 5px solid $secondary-color;
      top: -5px;
      &:active {
        box-shadow: 0px 0px 1px 6px rgba(0, 0, 0, 0.1);
      }
    }
    .input-range__track--active {
      background: $secondary-color;
    }
    .input-range__label--min,
    .input-range__label--max {
      display: none;
    }
  }
}
