@import './range';
#filter-popover {
  .popover-container {
    left: 32px !important;
    right: 32px;
    @media only screen and (min-width: 768px) {
      top: 135px !important;
      left: 208px !important;
      right: 32px;
      bottom: 32px;
    }
    @media only screen and (min-width: 1024px) {
      bottom: 128px;
    }
  }
}
.filter-container {
  padding: 32px;
  position: relative;
  height: calc(100% - 64px);
  @media only screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 64px;
  }
  .filter-input {
    margin-top: 0;
  }
  .slider-label {
    margin: 16px 0 32px;
  }
  .input-range {
    margin-bottom: 50px;
    .input-range__slider {
      background: $secondary-color;
      border: 3px solid $white-color;
      top: -4px;
      position: relative;
      width: 16px;
      height: 16px;
      &:active {
        box-shadow: 0px 0px 1px 6px rgba(0, 0, 0, 0.1);
      }
      &::after {
        content: '';
        background: $secondary-color;
        @include border-radius(50px);
        width: 26px;
        height: 26px;
        position: absolute;
        top: -5px;
        left: -5px;
        z-index: -1;
      }
    }
    .input-range__track--active {
      background: $secondary-color;
    }
    .input-range__label--min,
    .input-range__label--max {
      display: none;
    }
  }
  .button-container {
    display: flex;
    margin-top: 16px;
    justify-content: flex-end;
    button {
      margin-left: 8px;
    }
  }
  .right-column {
    @media only screen and (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
  }
}
