@import './range';
#filter-popover {
  .popover-container {
    width: 100%;
    @media only screen and (min-width: 768px) {
      width: auto;
      min-width: 300px;
      max-width: 1000px;
    }
  }
}
.filter-container {
  padding: 20px;
  position: relative;
  @media only screen and (min-width: 1024px) {
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    grid-gap: 64px;
    height: calc(100% - 40px);
  }
  .form-input {
    margin: 4px 0 40px;
    input {
      padding-bottom: 16px;
    }
  }
  .input-range {
    width: calc(100% - 22px);
    margin: 0 0 50px 10px;
    &.input-range--disabled {
      opacity: 0.5;
    }
    .input-range__slider {
      background: $secondary-color;
      border: 3px solid $white-color;
      top: -4px;
      position: relative;
      width: 16px;
      height: 16px;
      &:active {
        box-shadow: 0px 0px 1px 6px rgba(0, 0, 0, 0.1);
      }
      &::after {
        content: '';
        background: $secondary-color;
        @include border-radius(50px);
        width: 26px;
        height: 26px;
        position: absolute;
        top: -5px;
        left: -5px;
        z-index: -1;
      }
    }
    .input-range__track--active {
      background: $secondary-color;
    }
    .input-range__label--min,
    .input-range__label--max {
      display: none;
    }
    .input-range__track--background {
      z-index: 1;
    }
    .input-range__label-container {
      left: calc(-50% + 3px);
      position: relative;
      top: -4px;
    }
  }
  .button-container {
    display: flex;
    margin-top: 16px;
    justify-content: flex-end;
    button {
      margin-left: 8px;
    }
  }
  .checkbox-label {
    display: flex;
    align-items: center;
    margin: 16px 0 32px;
    .slider-label {
      margin-right: 8px;
    }
  }
  .right-column {
    @media only screen and (min-width: 1024px) {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
  }
}
