.sidebar {
  padding: 24px 0 24px 16px;
  background: $white-color;
  box-shadow: 0 3px 6px rgba(45, 49, 66, 0.1);
  position: relative;
  display: none;
  @media only screen and (min-width: 768px) {
    display: block;
  }
  img {
    width: 100%;
  }
  a {
    display: block;
    line-height: 25px;
    font-size: 16px;
    text-decoration: none;
    color: $primary-text-color;
    padding: 16px 24px;
    @include border-radius(100px 0 0 100px);
    &.active {
      background: $light-gray-color;
      position: relative;
      color: $primary-color;
      &::after {
        content: '';
        width: 2px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        @include border-radius(2px 0 0 2px);
        background: $primary-color;
      }
    }
  }
}
