.back-button {
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  position: relative;
  &:hover {
    cursor: pointer;
  }
  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 55%;
    background: $medium-gray-color;
    position: absolute;
    bottom: -8px;
    left: 0;
  }
  .icon {
    margin-right: 8px;
  }
}
