.dog-images-component {
  .dog-images {
    display: grid;
    grid-template-rows: 200px;
    grid-gap: 16px;
    @media only screen and (min-width: 500px) {
      grid-template-rows: 200px;
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (min-width: 768px) {
      grid-template-columns: 1fr;
    }
    @media only screen and (min-width: 1026px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media only screen and (min-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .dog-image {
    overflow: hidden;
    @include border-radius(10px);
    &.big,
    &.no-img {
      position: relative;
      height: 350px;
      margin-bottom: 16px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .icon {
      position: absolute;
      right: -4px;
      bottom: -4px;
    }
  }
}
